<%= stylesheet_link_tag 'devise_sign_in_up' %>
<style type="text/css">
  body{
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
  }
</style>

<div class='container'>
  <div class='card border-dark mb-3'>
    <div class='card-header'>
      <h3>Sign in</h2>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <div class='input-group'>
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <div class="input-icon right">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'email', required: true %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class='input-group'>
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <div class="input-icon right">
              <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'password', required: true %>
            </div>
          </div>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <div class="form-check">
              <%= f.check_box :remember_me, class: 'form-check-input' %>
              <label class="form-check-label" for="user_remember_me">
                remember_me
              </label>
            </div>
          </div>
        <% end -%>
        <div class="form-group">
          <%= f.submit "Log in", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
    <div class='card-footer text-center'>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
